/.idea/
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# Ignore the gem build file
/tgw-pbr-*.gem

# rspec failure tracking
.rspec_status

# Ignore the Gemfile.lock
/Gemfile.lock
